* {
    margin: 0;
    padding: 0;
}
#container {

}
nav {
    display: flex;
    height: 1.5em;
    width: 100%;
    background-color: lightgrey;
}
.nav-div {
    display: flex;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
}

/*TODO: determine color schemes for website links/hovers*/

a:link {
    color: black;
    background-color: lightgrey;
    font-weight: bold;
    padding: 1.5em;
}
a:hover {
    color: white;
    background-color: black;
}





